
.body {
    background-color: rgb(30,30,30);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    margin: -1%;
    padding: 2%;
    background-color: rgb(255, 252, 220);
}

.middle_block {
    margin: -1%;
    padding: 2%;
    color: black;
    background-color: rgb(255, 252, 220);
}

.footer {
    color: rgb(255, 252, 220);
}

.img_logo {
    height: 100px;
    margin-top: 20px;
}

.list {
    list-style-type: circle;
}

a[href] {
    text-decoration: none;
    color: black;
}

a[href]:hover {
    color: blue;
}

.text {
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1_all {
    font-size: 64px;
    color: #1F3F68;
}

.h2_cont {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3_all {
    font-size: 36px;
    text-align: center;
}

.h4_all {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.footer_hdng {
    color: rgb(255, 252, 220);
}

.input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.8;
}

.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 7px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

/* Список во вкладке Продукты */

.pr_menu__list {
    list-style-type: none;
}


.pr_menu__link {
    font-weight: 600;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    line-height: 50px;
    padding: 10px 130px 10px 130px;
    margin-right: auto;
    margin-left: 10%;
    box-shadow: 0px 5px 5px 0px rgba(30, 30, 30, 0.829);
}

.pr_menu__link:hover {
    color: red !important;
    box-shadow: none;
    background-color: rgba(4, 0, 255, 0.199);
}